[Unit]
Description=K2 Language Ramdisk Cache
After=network.target

[Mount]
What=tmpfs
Where=/usr/local/k2c
Type=tmpfs
Options=mode=0755,size=128M,uid=0,gid=0

[Install]
WantedBy=multi-user.target